
.ddable {
    position: absolute;
    cursor: grab;
    cursor: -webkit-grabbing;
    cursor: -moz-grab;
    
}

#canvas-parent{
    padding: 50px 0; 
    text-align: center !important; 
}

#cptr-contr{
    padding: 20px 20px 0px;
}

#tmplt-limit{
    height: 100vh;
    max-height: 720px;
    max-width: 920px;
    margin: 0 auto;
    padding: 50px;
}
#ts-canvas-frame{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /* remove in production */
    border: 0.5px solid black;
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}

#ts-canvas-tmplt{
    padding: 0.2px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}

#tmplt-cmpnts{
    /* remove in production */
    border: 0.5px solid black;
    width: 100%;
    /* height: 400px; */
    margin: 0px auto;
}

/* carousel */

#ts-cmpnts{
    text-align: center;
}

.cmpnts{
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    grid-template-rows: 150px;
    justify-content: center;
}

.cmpnts div{
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: grey;
    border: 1px solid black;
}

/* selectable in the editor */
.canvas-frame{
    cursor: pointer !important;
}
.tmplt{
    cursor: pointer !important;
}
.frm-cmpnts{
    cursor: pointer !important;
}

.cmpnts div img{
    width: 100%;
    height: 100%;
}





#add-elm{
    margin: auto;
    padding: 20px;
    text-align: center;
}


/* Universal CSS */

html{
    scroll-behavior: smooth;
}
  
  
  
  
  
  